<div class="container">
    <h1>Login</h1>
    <form (ngSubmit)="onSubmit()" class="form">
        <input type="email" [(ngModel)]="email" name="email" placeholder="Type your email" required>
        <input type="password" [(ngModel)]="password" name="password" placeholder="Type your password" required>
        <button type="submit" class="btn">Login</button>
        <div class="register">
            <h4>Don't have an account?</h4>
            <a href="/register">REGISTER</a>
        </div>
    </form>
</div>